@charset "UTF-8";
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNextCyr-Regular.woff") format("woff");
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNextCyr-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNextCyr-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNextCyr-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNextCyr-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Aqum";
  src: url("../fonts/Aqum.woff") format("woff"), url("../fonts/Aqum.woff2") format("woff2");
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.home {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(70, 130, 180, 0.4))), url(../img/main/bc.jpg) center no-repeat;
  background: linear-gradient(to top, rgba(70, 130, 180, 0.4)), url(../img/main/bc.jpg) center no-repeat;
}
.home .container {
  max-width: 1193px;
  height: 627px;
  margin: 0 auto;
}

/* HEADER */
.header {
  width: 1193px;
  height: 175px;
  margin: 0 auto;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  /* Info */
  /* Nav */
}
.header__top {
  width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  width: 213px;
  position: relative;
}
.header__logo::after {
  content: "";
  display: block;
  width: 71px;
  height: 3px;
  background-color: #E9CC2D;
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  bottom: 45px;
  right: -50px;
}
.header__logo-icon {
  width: 80, 5px;
  height: 82px;
  position: relative;
}
.header__logo-title {
  width: 117px;
  height: 41px;
  font-family: Aqum;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}
.header__logo-title__yellow {
  color: #E9CC2D;
}
.header__logo-title__grey {
  color: #c4c4c4;
}
.header__info {
  width: 763px;
  height: 61px;
  margin-left: 137px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__adress {
  width: 326px;
  height: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__adress-icon {
  width: 28px;
  height: 43px;
}
.header__adress-text {
  font-family: Avenir;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.header__adress-text:hover {
  opacity: 0.8;
}
.header__contacts {
  width: 437px;
  height: 41px;
  margin-right: -36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__tel {
  width: 326px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__tel-icon {
  width: 37.5px;
  height: 37.5px;
}
.header__tel-numb {
  font-family: Aqum;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.header__tel-numb:hover {
  opacity: 0.8;
}
.header__social {
  width: 146px;
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header__social-link {
  width: 40px;
  height: 40px;
  margin-right: 13px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header__social-link:hover {
  opacity: 0.8;
}
.header__social-link:last-child {
  margin-right: 0;
}
.header__nav {
  width: 588px;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav-link {
  font-family: Aqum;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
.header__nav-link span {
  color: #E9CC2D;
}
.header__nav-link:hover {
  color: #E9CC2D;
}

/* MAIN */
.main {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__text {
  width: 618px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 7;
}
.main__title {
  width: 618px;
  height: 106px;
  margin-bottom: 24px;
  font-family: Aqum;
  font-weight: 700;
  font-size: 52px;
  color: #fff;
  text-transform: uppercase;
}
.main__subtitle {
  width: 515px;
  height: 51px;
  font-family: Aqum;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}
.main__img {
  width: 645px;
  height: 400px;
}

/* Registration */
.registr-form {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}