@charset "UTF-8";
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNextCyr-Regular.woff") format("woff");
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNextCyr-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNextCyr-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNextCyr-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNextCyr-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Aqum";
  src: url("../fonts/Aqum.woff") format("woff"), url("../fonts/Aqum.woff2") format("woff2");
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.home {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(70, 130, 180, 0.4))), url(../img/main/bc.jpg) center no-repeat;
  background: linear-gradient(to top, rgba(70, 130, 180, 0.4)), url(../img/main/bc.jpg) center no-repeat;
}
.home .container {
  max-width: 1193px;
  height: 627px;
  margin: auto;
}

/* Header */
.header {
  width: 100%;
  height: 145px;
  margin: 0 auto;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  width: 213px;
}
.header__logo::after {
  content: "";
  display: block;
  width: 71px;
  height: 3px;
  background-color: #E9CC2D;
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  bottom: 55px;
  left: 229px;
}
.header__logo-icon {
  width: 96px;
  height: 100%;
  position: relative;
}
.header__logo-icon__figure-yellow {
  width: 56px;
  height: 30px;
  position: relative;
}
.header__logo-icon__figure-grey {
  width: 56px;
  height: 30px;
  position: relative;
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 25px;
  bottom: 0;
}
.header__logo-icon__yellow-ellipse-1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #E9CC2D;
  position: absolute;
  right: 5px;
  bottom: 32px;
}
.header__logo-icon__yellow-ellipse-1::after {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background-color: #E9CC2D;
  position: absolute;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  bottom: 0;
  right: -2px;
}
.header__logo-icon__yellow-ellipse-2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #E9CC2D;
  position: absolute;
  bottom: 5px;
  right: 20px;
}
.header__logo-icon__grey-ellipse-1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #C4C4C4;
  position: absolute;
  right: 11px;
  bottom: 28px;
}
.header__logo-icon__grey-ellipse-2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #c4c4c4;
}
.header__logo-icon__grey-ellipse-1::after {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background-color: #c4c4c4;
  position: absolute;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  bottom: 0;
  right: -3px;
}
.header__logo-title {
  width: 117px;
  height: 41px;
  font-family: Aqum;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}
.header__logo-title__yellow {
  color: #E9CC2D;
}
.header__logo-title__grey {
  color: #c4c4c4;
}