@charset "UTF-8";
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNextCyr-Regular.woff") format("woff");
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNextCyr-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNextCyr-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNextCyr-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNextCyr-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Aqum";
  src: url("../fonts/Aqum.woff") format("woff"), url("../fonts/Aqum.woff2") format("woff2");
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Avenir, sans-serif;
}

.home {
  width: 100%;
  background: url(../img/main/bc.jpg) center no-repeat;
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 15px;
}

.container {
  width: 100%;
  max-width: 1193px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER */
.header {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  /* Info */
}
.header__top {
  width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.header__adress-icon {
  width: 28px;
  height: 43px;
  margin-right: 26px;
}
.header__adress-text {
  font-family: Avenir;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}
.header__adress:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.header__contacts {
  margin-left: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__tel {
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.header__tel-icon {
  width: 37.5px;
  height: 37.5px;
  margin-right: 11px;
}
.header__tel-numb {
  font-family: Aqum;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  margin-right: 3px;
}
.header__tel:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.header__nav-burger {
  width: 40px;
  padding: 12px 0;
  border: 0;
  background: none;
  cursor: pointer;
  display: none;
  position: relative;
}
.header__nav-burger__toggle {
  font-size: 0;
  color: transparent;
  display: block;
  width: 35px;
  height: 3px;
  background-color: #E9CC2D;
  position: absolute;
  right: 0;
}
.header__nav-burger__toggle::after, .header__nav-burger__toggle::before {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: -5px;
  z-index: 1;
}
.header__nav-burger__toggle::after {
  top: -8px;
}
.header__nav-burger__toggle::before {
  bottom: -8px;
}
.header__nav-burger.active .header__nav-burger__toggle {
  background: none;
}
.header__nav-burger.active .header__nav-burger__toggle::after {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(45deg) translateX(-8px);
          transform: rotate(45deg) translateX(-8px);
  left: 5px;
}
.header__nav-burger.active .header__nav-burger__toggle::before {
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(-45deg) translateX(-8px);
          transform: rotate(-45deg) translateX(-8px);
  left: 5px;
}

/* Logo */
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  width: 213px;
  position: relative;
}
.logo-icon {
  width: 80, 5px;
  height: 82px;
  position: relative;
}
.logo-title {
  width: 117px;
  height: 41px;
  font-family: Aqum;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}
.logo-title__yellow {
  color: #E9CC2D;
}
.logo-title__grey {
  color: #c4c4c4;
}

.logo::after {
  content: "";
  display: block;
  width: 71px;
  height: 3px;
  background-color: #E9CC2D;
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  bottom: 45px;
  right: -50px;
}

/* Social */
.social {
  width: 146px;
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.social-link {
  width: 40px;
  height: 40px;
  margin-right: 13px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.social-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.social-link:last-child {
  margin-right: 0;
}

/* Nav */
.nav {
  width: 588px;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-link {
  font-family: Aqum;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
.nav-link span {
  color: #E9CC2D;
}
.nav-link:hover {
  color: #E9CC2D;
}

/* MAIN */
.main {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.main__text {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 7;
}
.main__subtext {
  display: none;
  margin-top: 49px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}
.main__subtext span {
  color: #E9CC2D;
}
.main__title {
  margin-bottom: 24px;
  font-family: Aqum;
  font-weight: 700;
  font-size: 52px;
  color: #fff;
  text-transform: uppercase;
}
.main__subtitle {
  font-family: Aqum;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}
.main__img {
  width: 645px;
  height: 400px;
  margin-left: -103px;
}

/* Registration */
.registr {
  width: 100%;
}
.registr__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
.registr__form-input {
  height: 50px;
  padding: 15px 45px;
  background-color: #999A9E;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  border-radius: 15px;
  outline: none;
  border: none;
}
.registr__form-input::-webkit-input-placeholder {
  color: #fff;
}
.registr__form-input::-moz-placeholder {
  color: #fff;
}
.registr__form-input:-ms-input-placeholder {
  color: #fff;
}
.registr__form-input::-ms-input-placeholder {
  color: #fff;
}
.registr__form-input::placeholder {
  color: #fff;
}
.registr__form-button {
  max-width: 459px;
  height: 50px;
  padding: 0 20px;
  margin-left: -43px;
  background-color: #E9CC2D;
  text-transform: uppercase;
  color: #000000;
  font-family: Aqum;
  font-weight: 700;
  font-size: 20px;
  border-radius: 15px;
  outline: none;
  border: none;
  z-index: 7;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.registr__form-button:hover {
  background-color: #e7af08;
}

/* Stages */
.stages {
  background-color: #F2F8FD;
}

/* Title */
.title {
  padding-top: 50px;
  margin: 0 auto;
  font-family: Aqum;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #000000;
}
.title span {
  color: #E9CC2D;
}

/* content */
.content {
  width: 100%;
  margin-top: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content__line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}
.content__line-1 {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 0px 280px 60px 0px;
}
.content__line-2 {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin: 0 220px 60px 0px;
}
.content__line-3 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
.content__line:last-child {
  margin-bottom: 0;
}

/* Block */
.block {
  max-width: 480px;
  min-height: 300px;
  border: solid #999A9E 3px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.block-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 15px 0;
  z-index: 7;
}
.block-title {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-bottom: 20px;
  font-family: Aqum;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}
.block-title span {
  color: #E9CC2D;
}
.block-text {
  font-family: Avenir;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}
.block-number {
  width: 160px;
  height: 160px;
  font-family: Aqum;
  font-weight: 700;
  font-size: 150px;
  color: #E9CC2D;
  opacity: 0.7;
  position: absolute;
}
.block-number-1 {
  top: 116px;
  right: 10px;
}
.block-number-2 {
  top: 116px;
  right: 20px;
}
.block-number-3 {
  top: 116px;
  right: 20px;
}
.block-number-4 {
  top: 116px;
  right: 20px;
}
.block-number-5 {
  top: 116px;
  right: 20px;
}

.content__block-1 {
  background: url(../img/stages/block/1.png) center no-repeat;
  background-size: cover;
  margin-right: 60px;
}
.content__block-2 {
  background: url(../img/stages/block/2.png) center no-repeat;
  background-size: cover;
}
.content__block-3 {
  background: url(../img/stages/block/3.png) center no-repeat;
  background-size: cover;
  margin-right: 60px;
}
.content__block-4 {
  background: url(../img/stages/block/4.png) center no-repeat;
  background-size: cover;
}
.content__block-5 {
  background: url(../img/stages/block/5.png) center no-repeat;
  background-size: cover;
}

/* Equipment */
.equipment {
  background-color: #F2F8FD;
}
.equipment__block {
  width: 100%;
  min-height: 379px;
  margin: 55px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.equipment__block-photo {
  width: 100%;
  min-height: 379px;
  position: relative;
}
.equipment__block-photo-front {
  max-width: 768px;
  min-height: 379px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  z-index: 7;
}
.equipment__block-photo-front img {
  width: 100%;
}
.equipment__block-photo-front-arr {
  width: 698px;
  height: 80px;
  position: absolute;
  top: 463px;
  right: 20px;
  bottom: 462px;
  left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.equipment__block-photo-front-arr-img {
  width: 80px;
  height: 80px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.equipment__block-photo-front-arr-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.equipment__block-photo-bg {
  width: 1156px;
  height: 744px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 131px;
  bottom: 131px;
}
.equipment__block-photo-bg-1 img {
  width: 568px;
  height: 744px;
  opacity: 0.5;
  margin-right: 20px;
}
.equipment__block-photo-bg-1 img:last-child {
  margin-right: 0;
}
.equipment__block-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  margin: 20px auto 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.equipment__block-point-img {
  width: 55px;
  height: 15px;
}
.equipment__block-point-arr {
  display: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.equipment__block-point-arr img {
  width: 60px;
  height: 60px;
}
.equipment__block-point-arr:hover {
  opacity: 0.8;
}
.equipment__text {
  width: 100%;
  margin: 30px auto;
  font-weight: 500;
  font-size: 20px;
}

/* Location */
.location {
  background: url(../img/location/bc.jpeg) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 495px;
}
.location__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.location__block {
  width: 419px;
  height: 233px;
  background-color: rgba(0, 0, 0, 0.5019607843);
  background: opacity(0.5);
  border: solid 3px #999A9E;
  border-radius: 10px;
}
.location__block-info {
  max-width: 329px;
  height: 165px;
  margin: 34px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}
.location__block-info-social {
  margin: 0;
}
.location__adress {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.location__tel {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

/* Diagnostic */
.diagnostic {
  background-color: #F2F8FD;
}
.diagnostic__main {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.diagnostic__content {
  width: 100%;
  height: 341px;
}
.diagnostic__content-title {
  padding-bottom: 30px;
  font-family: Aqum;
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.diagnostic__content-title span {
  color: #E9CC2D;
}
.diagnostic__content-form {
  width: 100%;
  height: 33px;
  margin-bottom: 10px;
  color: #999A9E;
  background-color: #F2F8FD;
  border-bottom: solid #999A9E 2px;
}
.diagnostic__content-form ::-webkit-input-placeholder {
  background-color: #F2F8FD;
  color: #999A9E;
}
.diagnostic__content-form ::-moz-placeholder {
  background-color: #F2F8FD;
  color: #999A9E;
}
.diagnostic__content-form :-ms-input-placeholder {
  background-color: #F2F8FD;
  color: #999A9E;
}
.diagnostic__content-form ::-ms-input-placeholder {
  background-color: #F2F8FD;
  color: #999A9E;
}
.diagnostic__content-form ::placeholder {
  background-color: #F2F8FD;
  color: #999A9E;
}
.diagnostic__content-form-text {
  font-weight: 500;
  font-size: 20px;
  height: 28px;
  color: #999A9E;
  background-color: #F2F8FD;
}
.diagnostic__content-button {
  display: block;
  width: 459px;
  height: 50px;
  margin-top: 30px;
  text-transform: uppercase;
  font-family: Aqum;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  background-color: #E9CC2D;
  border-radius: 10px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.diagnostic__content-button-2 {
  display: none;
  width: 310px;
  height: 50px;
  margin-top: 30px;
  text-transform: uppercase;
  font-family: Aqum;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  background-color: #E9CC2D;
  border-radius: 10px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.diagnostic__content-button-2:hover {
  background-color: #e7af08;
}
.diagnostic__content-button:hover {
  background-color: #e7af08;
}
.diagnostic__img {
  width: 560px;
  height: 241px;
}

/* About us */
.about-us {
  background-color: #F2F8FD;
}
.about-us__content {
  width: 100%;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-us__content-photo {
  width: 100%;
  min-height: 200px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-us__content-photo-img {
  width: 760px;
  min-height: 200px;
  margin-right: 40px;
}
.about-us__content-photo-line {
  width: 360px;
  height: 602px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-us__content-photo-line-img {
  width: 360px;
  height: 280px;
  margin-bottom: 40px;
}
.about-us__content-photo-line-img:last-child {
  margin-bottom: 0;
}
.about-us__content-text {
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  padding: 20px 15px;
  color: #000000;
}
.about-us__point {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 450px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-us__point-img {
  width: 55px;
  height: 15px;
}
.about-us__point-arr {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.about-us__point-arr img {
  width: 60px;
  height: 60px;
}
.about-us__point-arr:hover {
  opacity: 0.8;
}

/* Footer */
.footer {
  width: 100%;
  background: url(../img/footer/bc.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}
.footer__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #000;
  opacity: 0.5;
}
.footer__info {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}
.footer__name {
  width: 213px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo {
  margin-top: 0;
}
.footer__logo-icon {
  margin-bottom: 27px;
}
.footer__logo-text {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}
.footer__logo-text-2 {
  font-weight: 600;
  font-size: 20px;
  margin: 20px 0 30px 0;
  color: #fff;
  display: none;
}
.footer__logo::after {
  display: none;
}
.footer__nav {
  width: 226px;
  height: 164px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__block-info {
  height: 165px;
  margin: 34px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}
.footer__adress {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.footer__tel {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

/* Media */
@media (max-width: 1240px) {
  /* Home */
  /* Header */
  .header__adress-text {
    font-size: 17px;
  }
  .header__tel-numb {
    font-size: 17px;
  }

  .logo::after {
    right: -30px;
  }

  /* Main */
  .main {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .main__subtext {
    display: block;
  }
  .main__img {
    display: none;
  }

  /* Equipment */
  .equipment__block-photo-bg {
    display: none;
  }
  .equipment__block-photo-front-arr {
    display: none;
  }
  .equipment__block-point {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .equipment__block-point-arr {
    display: block;
  }
  .equipment__text {
    margin: 0;
    padding: 45px 26px;
  }

  /* Diagnostic */
  .diagnostic__main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .diagnostic__img {
    display: none;
  }

  /* About-us */
  .about-us__content-photo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }
  .about-us__content-photo-img {
    margin-right: 0;
  }
  .about-us__content-photo-img img {
    width: 100%;
  }
  .about-us__content-photo-line {
    display: none;
  }
  .about-us__point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 1120px) {
  /* Stages */
  .content__line {
    margin: 0 0 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content__block-1 {
    margin: 0 0 20px 0;
  }
  .content__block-3 {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 990px) {
  /* Home */
  /*Header */
  .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__adress-icon {
    margin-right: 16px;
  }
  .header__adress-text {
    font-size: 15px;
  }
  .header__tel {
    margin: 0 0 5px 0;
  }
  .header__tel-numb {
    font-size: 15px;
  }

  .logo::after {
    right: -10px;
  }

  /* Footer */
  .footer__block-info {
    margin: 34px 15px;
  }
}
@media (max-width: 770px) {
  /* Home*/
  /*Header*/
  .header {
    padding-top: 0;
  }
  .header__top {
    margin-top: 5px;
  }
  .header__logo {
    margin-top: 0;
  }
  .header__logo::after {
    display: none;
  }
  .header__info {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header__nav-burger {
    display: block;
  }

  /* Registr */
  .registr__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .registr__form-input {
    width: 300px;
    margin-bottom: 10px;
  }
  .registr__form-button {
    width: 300px;
    margin-left: 0;
  }

  /* Footer */
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-height: 700px;
    padding-left: 37px;
  }
  .footer__logo {
    padding: 34px 0 55px 0;
  }
  .footer__logo-icon {
    margin-bottom: 0;
  }
  .footer__logo-text {
    display: none;
  }
  .footer__logo-text-2 {
    display: block;
  }
  .footer__block-info {
    padding-top: 27px;
    margin: 0;
  }
  .footer__adress {
    padding-bottom: 15px;
  }
  .footer__adress-text {
    font-size: 20px;
  }
  .footer__tel {
    padding-bottom: 20px;
  }
  .footer__tel-numb {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  /* Container */
  .container {
    padding: 0 10px;
  }

  /* Title */
  .title {
    font-size: 30px;
  }

  /* Home */
  /* Main */
  .main {
    height: 300px;
  }
  .main__text {
    height: 300px;
  }
  .main__title {
    font-size: 48px;
  }
  .main__subtitle {
    font-size: 30px;
  }
  .main__subtext {
    font-size: 18px;
  }

  /* Stages */
  /* Block */
  .block-title {
    font-size: 18px;
  }
  .block-text {
    font-size: 18px;
  }

  /* Diagnostic */
  .diagnostic__content-title {
    font-size: 28px;
  }
  .diagnostic__content-button {
    display: none;
  }
  .diagnostic__content-button-2 {
    display: block;
  }

  /* About-us */
  .about-us__point {
    width: 280px;
  }
}
@media (max-width: 380px) {
  /* Location */
  .location__block-info {
    margin: 34px 18px;
  }
}
/* Diagnostic */
.diagnostic__content-button-2 {
  width: 280px;
}

/* Footer */
.footer__adress-text {
  font-size: 15px;
}
.footer__tel-numb {
  font-size: 15px;
}