@font-face {
	font-family: 'Avenir';
	src: url("../fonts/AvenirNextCyr-Regular.woff") format('woff');
}

@font-face {
	font-family: 'Avenir';
	src: url("../fonts/AvenirNextCyr-Bold.woff") format('woff');
	font-weight: 700;
}

@font-face {
	font-family: 'Avenir';
	src: url("../fonts/AvenirNextCyr-Medium.woff") format('woff');
	font-weight: 500;
}

@font-face {
	font-family: 'Avenir';
	src: url("../fonts/AvenirNextCyr-Light.woff") format('woff');
	font-weight: 300;
}

@font-face {
	font-family: 'Avenir';
	src: url("../fonts/AvenirNextCyr-Italic.woff") format('woff');
	font-style: italic;
}

@font-face {
	font-family: 'Aqum';
	src: url("../fonts/Aqum.woff") format('woff'),
		 url("../fonts/Aqum.woff2") format('woff2');
}

/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body {
	font-family: Avenir, sans-serif;
}

.home {
	width: 100%;
	height: 100vh;
	background: url(../img/main/bc.jpg) center no-repeat;
	background-size: cover;

	.container {
		width: 100%;
		max-width: 1193px;

		margin: 0 auto;
	}
}

/* HEADER */

.header {
	width: 1193px;
	height: 175px;
	margin: 0 auto;
	padding-top: 20px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	
/* Info */
	&__top{ 
		width: 100%;
		margin-bottom: 30px;
		
		display: flex;
		align-items: center;
	}

	&__logo {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;

		width: 213px;

		position: relative;
	}

	&__logo::after {
		content: "";
		display: block;

		width: 71px;
		height: 3px;

		background-color: #E9CC2D;

		position: absolute;
		transform: rotate(90deg);
		bottom: 45px;
		right: -50px;
	}

	&__logo-icon {
		width: 80,5px;
		height: 82px;

		position: relative;
	}

	&__logo-title {
		width: 117px;
		height: 41px;

		font-family: Aqum;
		font-weight: 700;
		font-size: 20px;
		color: #fff;
		text-transform: uppercase;

		&__yellow {
			color: #E9CC2D;
		}

		&__grey {
			color: #c4c4c4;
		}
	}

	&__info {
		width: 763px;
		height: 61px;
		margin-left: 137px;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__adress {
		width: 326px;
		height: 61px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		transition: .2s linear;

		&-icon {
			width: 28px;
			height: 43px;
		}

		&-text {
			font-family: Avenir;
			font-weight: 700;
			font-size: 20px;
			color: #fff;
		}
	}

	&__adress:hover {
		transform: scale(1.05);
	}

	&__contacts {
		width: 437px;
		height: 41px;

		margin-right: -36px;

		display: flex;
		justify-content: space-between;
	}

	&__tel {
		width: 326px;
		height: 38px;
		margin-right: 5px;

		display: flex;
		justify-content: space-around;
		align-items: center;

		transition: .2s linear;

		&-icon {
			width: 37.5px;
			height: 37.5px;
		}

		&-numb {
			font-family: Aqum;
			font-weight: 700;
			font-size: 20px;

			color: #fff;
			text-decoration: none;
		}
	}

	&__tel:hover {
		transform: scale(1.05);
	}

	&__social {
		width: 146px;
		height: 41px;
		display: flex;
		justify-content: space-around;

		&-link {
			width: 40px;
			height: 40px;
			margin-right: 13px;

			transition: .2s linear;
		}

		&-link:hover {
			transform: scale(1.1);
		}

		&-link:last-child {
			margin-right: 0;
		}
	}

/* Nav */
	&__nav {
		width: 588px;
		height: 43px;
		display: flex;
		justify-content: space-between;

		&-link {
			font-family: Aqum;
			font-weight: 700;
			font-size: 20px;

			text-transform: uppercase;

			color: #fff;

			transition: color .1s linear;

			span {
				color: #E9CC2D;
			}
		}

		&-link:hover {
			color: #E9CC2D;
		}
	}
}

/* MAIN */ 
.main {
	width: 100%;
	height: 400px;
	display: flex;

	margin-bottom: 20px;

	&__text {
		width: 618px;
		height: 400px;

		display: flex;
		flex-direction: column;
		justify-content: center;

		z-index: 7;
	}

	&__title {
		width: 618px;
		height: 106px;
		margin-bottom: 24px;

		font-family: Aqum;
		font-weight: 700;
		font-size: 52px;

		color: #fff;

		text-transform: uppercase;
	}

	&__subtitle {
		width: 515px;
		height: 51px;

		font-family: Aqum;
		font-weight: 700;
		font-size: 32px;

		color: #fff;
	}

	&__img {
		width: 645px;
		height: 400px;
		margin-left: -103px;
	}
}

/* Registration */
.registr {
	width: 100%;
	height: 50px;


	&__form {
		width: 700px;
		height: 50px;
		display: flex;
		text-align: center;

		&-input {
			width: 284px;
			height: 50px;

			padding: 15px 15px;

			background-color: #999A9E;
			color: #FFFFFF;
			font-weight: 500;
			font-size: 20px;

			border-radius: 15px;
			outline: none;
			border: none;
		}

		&-input::placeholder {
			color: #fff;
		}

		&-button {
			width: 459px;
			height: 50px;
			margin-left: -43px;

			background-color: #E9CC2D;

			text-transform: uppercase;
			color: #000000;
			font-family: Aqum;
			font-weight: 700;
			font-size: 20px;

			border-radius: 15px;
			outline: none;
			border: none;

			z-index: 7;

			transition: .2s linear;
		}

		&-button:hover {
			background-color: #e7af08;
		}
	}
}

/* Stages */
.stages {
	background: url(../img/stages/bc.jpg) center no-repeat;
	background-size: cover;
}

/* Title */
.title {
	width: 418px;
	height: 58px;
	padding-top: 50px;
	margin: 0 auto;

	font-family: Aqum;
	font-weight: 700;
	font-size: 32px;
	text-align: center;

	color: #000000;

	span {
		color: #E9CC2D;
	}
}

/* content */
.content {
	width: 100%;
	margin-top: 27px;

	display: flex;
	flex-direction: column;	

	&__line {
		width: 1080px;
		height: 300px;

		display: flex;

		margin-bottom: 60px;

		&-1 {
			justify-content: left;
			margin: 55px 280px 60px 140px;
		}

		&-2 {
			justify-content: right;
			margin: 0 220px 60px 200px;
		}

		&-3 {
			justify-content: center;
			margin: 0 auto;
		}
	}

	&__line:last-child {
		margin-bottom: 0;
	}
}



/* Block */
.block {
	width: 480px;
	height: 300px;

	display: flex;
	position: relative;

	&-info {
		width: 300px;

		display: flex;
		flex-direction: column;
		margin: 30px auto 0 auto;

		z-index: 7;
	}

	&-title {
		width: min-content;
		margin-bottom: 20px;

		font-family: Aqum;
		font-weight: 700;
		font-size: 20px;
		color: #fff;

		text-transform: uppercase;

		span {
			color: #E9CC2D;
		}
	}

	&-text {
		font-family: Avenir;
		font-weight: 500;
		font-size: 20px;

		color: #fff;
	}

	&-number {
		width: 160px;
		height: 160px;

		font-family: Aqum;
		font-weight: 700;
		font-size: 150px;

		color: #E9CC2D;
		opacity: 0.7;

		position: absolute;

		&-1 {
			top: 116px;
			right: 35px;
			bottom: 24px;
			left: 285px;
		}

		&-2 {
			top: 116px;
			right: 71px;
			bottom: 24px;
			left: 249px;
		}

		&-3 {
			top: 127px;
			right: 63px;
			bottom: 13px;
			left: 257px;
		}

		&-4 {
			top: 127px;
			right: 58px;
			bottom: 13px;
			left: 262px;
		}

		&-5 {
			top: 142px;
			right: 51px;
			bottom: 26px;
			left: 269px;
		}
	}
}

.content__block {
	&-1 {
		background: url(../img/stages/block/1.png) center no-repeat;
		background-size: cover;

		margin-right: 60px;
	}

	&-2 {
		background: url(../img/stages/block/2.png) center no-repeat;
		background-size: cover;
	}

	&-3 {
		background: url(../img/stages/block/3.png) center no-repeat;
		background-size: cover;

		margin-right: 60px;
	}

	&-4 {
		background: url(../img/stages/block/4.png) center no-repeat;
		background-size: cover;
	}

	&-5 {
		background: url(../img/stages/block/5.png) center no-repeat;
		background-size: cover;
	}
}



