@font-face {
	font-family: 'Avenir';
	src: url("../fonts/AvenirNextCyr-Regular.woff") format('woff');
}

@font-face {
	font-family: 'Avenir';
	src: url("../fonts/AvenirNextCyr-Bold.woff") format('woff');
	font-weight: 700;
}

@font-face {
	font-family: 'Avenir';
	src: url("../fonts/AvenirNextCyr-Medium.woff") format('woff');
	font-weight: 500;
}

@font-face {
	font-family: 'Avenir';
	src: url("../fonts/AvenirNextCyr-Light.woff") format('woff');
	font-weight: 300;
}

@font-face {
	font-family: 'Avenir';
	src: url("../fonts/AvenirNextCyr-Italic.woff") format('woff');
	font-style: italic;
}

@font-face {
	font-family: 'Aqum';
	src: url("../fonts/Aqum.woff") format('woff'),
		 url("../fonts/Aqum.woff2") format('woff2');
}

/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

.home {
	width: 100%;
	height: 100vh;
	background: linear-gradient(to top, rgba(70, 130, 180, 0.3)), url(../img/main/bc.jpg) center no-repeat;

	.container {
		max-width: 1193px;
		height: 627px;
		margin: auto;
	}
}

/* Header */

.header {
	width: 100%;
	height: 145px;
	margin: 0 auto;
	padding-top: 20px;

	display: flex;
	justify-content: space-between;
	

	&__logo {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
	}

	&__logo-icon {
		width: 96px;
		height: 100%;

		transition: rotate(45deg);
	}

	&__logo-icon__figure {
		width: 56px;
		height: 30px;
		display: flex;
		align-items: center;
	}

	&__logo-icon__yellow-ellipse-1 {
		width: 30px;
		height: 30px;
		border-radius: 15px;
		color: #E9CC2D;
	}

	&__logo-icon__yellow-ellipse-2 {
		width: 20px;
		height: 20px;
		border-radius: 10px;
		color: #E9CC2D;
	}

	&__logo-title {
		width: 117px;
		height: 41px;

		font-family: Aqum;
		font-weight: 700;
		font-size: 20px;
		color: #fff;
	}
}

